/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
    padding: 0;
    margin: 0;
    
  }

.nav{
    max-width: 100%;
    background: red;
    height: 100px;
    display: flex;
    justify-content: center;

}
.navbar{
    max-width: 1200px;
    background: blue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    
}
.navbar ul{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #FFF;
}
.contactform{
    background: yellow;
    width: 100%;
    
    max-width: 480px;
}
.slider{
    background: orange;
    width: calc(100% - 480px);
    
}
section{
    display: flex;
    height: calc(100vh - 100px)
}