/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
    padding: 0;
    margin: 0;   
  }
  body{
      padding-top: 46px;
      font-family: 'Roboto', sans-serif;
  }
  h1{
      text-align: center;
  }
  h3{
      text-align: center;
  }

.nav{
    width: 100%;
    max-width: 100%;
    background: #333333;
    height: 46px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;

}
.inicio{
    width:98%;
    flex-direction: row;
    /* padding-top: 46px; */
}
.navbar{
    max-width: 1200px;
    background-color: transparent;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.navbar h1{
    color: white;
    float: left;
}
.navbar ul{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a{
    text-decoration: none;
    color: #FFF;
    margin-right: 30px;
}
.contactform{
    background: yellow;
    width: 100%;
    max-width: 480px;
}
.slider{
    /* background: orange; */
    width: calc(100% - 480px);
    
}
section{
    display: flex;
    height: calc(100vh - 46px);
    margin: 0 auto;
    flex-direction: column;
    padding-top: 46px;
}
section h2{
    /* position: center; */
    margin-top: 20px;
    text-align: center;
}
section p{
    margin-top: 40px;
}
.form-control{
    display: block;
    width: calc(100% - 1.5rem);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius:.25 rem;
    transition: border-color .15s ease-in-out, box-shadow 15s ease-in-out;
    /* align-items: center; */
}
.slider img{
    width: 865px;
    height: calc(100vh - 46px)
}
#servicios{
    /* padding-top: 46px; */
}

/* Set the size of the div element that contains the map */
.map {

    /* background: red; */
    height: 400px;  /* The height is 400 pixels */
    width: 50%;  /* The width is the width of the web page */
    margin: auto;
    /* float: right; */
    z-index: -1;
   }


.quienes{
    background-image: url(../images/f08b0475-f227-4a2b-a8e9-281150fc1156.jpeg);
    background-size: cover;
    color: yellow;
}
.cobertura{
    background-size: cover;
    background-color: red;
}
.servicios{
    background-size: cover;
    background-color: pink;
}
.contacto{
    background-size: cover;
    background-color: lightblue;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
    }